name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-backend:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build Backend Image
      run: docker build ./pocketbase --file ./pocketbase/Dockerfile --tag zenqa-backend:test

  build-frontend:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build Frontend Image
      run: docker build ./frontend --file ./frontend/Dockerfile --tag zenqa-frontend:test
